{% extends "header.html" %} {% block content %}

{% if error_msg %}
  <b class="text-red-400">
    {{ error_msg }}
  </b>
{% endif %}

<div class=" flex flex-col justify-center items-center " >
<div class=" grid gap-11 justify-center md:grid-cols-2 lg:grid-cols-4  " >
  {% for result in results %}
  <div class = "hover:scale-110 transition-transform duration-300 ease-in-out">
    <h5 class="card-title"> 
      <a href="{{ result.url }}" target="_blank">
        <div>
            {{ result.name }}
            <img src="{{ result.image_url }}" height="200px" width="300px">
        </div>
    </a>
    </h5>
  
  </a>
  </div>
  {% endfor %}
</div>
</div>

{% endblock %}
